<header class="sticky">
  <div class="container">
    <a routerLink="/" class="logo">-- EduX --</a>

    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>

        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">{{user.firstName}}</a>

          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a (click)="logout()">LOG OUT</a>
          </div>
        </li>

        <li>
          <a routerLink="/cart-page" class="rgt">
            Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span>
          </a>
        </li>

      </ul>
    </nav>
  </div>
</header>
