/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import '../node_modules/ngx-bar-rating/themes/br-default-theme';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
  box-sizing: border-box;
}

html{
  font-size: 16px ;
}

html,button{
  font-family: "Quicksand", "sans-serif";
}

body{
  margin: 1rem; //or 0
}

a{
  text-decoration: none;
}


